.main-filter {
    margin: 20px;
    padding: 10px;
    width: 650px;
    height: auto;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.main-filter div {
    margin: 2px;
}

div.line-first {
    order: 0;
    display: flex;
    flex-direction: column;
}

div.line-first div.sub-line-first {
    order: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

div.line-first div.sub-line-first>* {
    margin: 10px;
}

div.line-first div.sub-line-second {
    order: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

div.line-first div.sub-line-second>* {
    margin: 10px;
}

div.line-second {
    order: 1;
    display: flex;
    flex-direction: column;
}

div.line-second div.sub-line-first {
    order: 0;
    display: flex;
    flex-direction: row;
}

div.line-second div.sub-line-first>* {
    margin: 10px;
}
div.line-second div.sub-line-second>* {
    margin: 10px;
}

div.line-second div.sub-line-second {
    order: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

div.line-second div.sub-line-second> :nth-child(3) {
    width: auto;
}

div.line-third {
    order: 2;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;    
}
div.line-third>* {
    margin: 10px;
}
div.line-third> :nth-child(2) {
   width: 45px;
}

div.line-fourth {
    order: 2;
    display: flex;
    flex-direction: column;
}

div.line-fourth div.sub-line-first {
    order: 0;
    display: flex;
    flex-direction: row;
}

div.line-fourth div.sub-line-second {
    order: 1;
    display: flex;
    flex-direction: row;
}

div.line-fourth div.sub-line-first> :nth-child(2) {
    width: auto;
}
