html {
  font-size: 14px;
}

h1, p {
  font-family: Lato;
}

.radio-inline {
  margin-right: 10px;
}

.field-object .field-object {
  margin-left: 10px;
  /* margin-right: 10px; */

  padding-left: 10px;
  /* padding-right: 5px; */

  border-left: 2px solid #ccc;
  /* border-radius: 1%; */
  /* border-right: 2px solid black; */
}

fieldset {
  clear: both;
}

.bordered-3 {
  border-top: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}